#### Assignment 2

##### 1. Create a lambda function named `add` that takes two arguments and returns their sum. Test it with the values `7` and `12`.

In [90]:
add = lambda a, b: a + b
add(7, 12)

19

##### 2. Create a lambda function named `power` that takes two arguments `base` and `exp` and returns `base` raised to the power of `exp`. Test it with `2` and `3`.

In [91]:
power = lambda base, exp: base ** exp
power(2, 3)

8

##### 3. Given a list of numbers `[1, 3, 5, 7]`, use a lambda function with `map()` to create a new list containing the squares of these numbers. Print the result.

In [92]:
numbers = [1, 3, 5, 7]
list(map(lambda x: x ** 2, numbers))

[1, 9, 25, 49]

##### 4. Given a list of strings `["hello", "world", "python"]`, use a lambda function with `map()` to create a new list with each string converted to uppercase. Print the result.

In [93]:
strings = ["hello", "world", "python"]
list(map(lambda s: s.upper(), strings))

['HELLO', 'WORLD', 'PYTHON']

##### 5. Given a list of numbers `[1, 2, 3, 4, 5, 6]`, use a lambda function with `filter()` to create a new list containing only the even numbers. Print the result.

In [94]:
even_numbers_list = [1, 2, 3, 4, 5, 6]
list(filter(lambda x: x % 2 == 0, even_numbers_list))

[2, 4, 6]

##### 6. Given a list of numbers `[-10, -5, 0, 5, 10]`, use a lambda function with `filter()` to create a new list containing only the positive numbers. Print the result.

In [95]:
numbers_list = [-10, -5, 0, 5, 10]
list(filter(lambda x: x > 0, numbers_list))

[5, 10]

##### 7. Given a list of tuples `[(1, 3), (4, 1), (5, 2), (3, 7)]`, use a lambda function with `sorted()` to sort the list by the second element of each tuple. Print the result.

In [96]:
tuples_list = [(1, 3), (4, 1), (5, 2), (3, 7)]
sorted(tuples_list, key=lambda x: x[1])

[(4, 1), (5, 2), (1, 3), (3, 7)]

##### 8. Given a list of strings `["apple", "banana", "cherry"]`, use a lambda function with `sorted()` to sort the strings by their length. Print the result.

In [97]:
strings_list = ["apple", "banana", "cherry"]
sorted(strings_list, key=lambda x: len(x))

['apple', 'banana', 'cherry']

##### 9. Create a list of squares of even numbers between 1 and 20 (inclusive) using list comprehension.

In [98]:
[x ** 2 for x in range(1, 21) if x % 2 == 0]

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

##### 10. Given a list of strings: `["apple", "banana", "kiwi", "cherry", "date"]`, use list comprehension to create a new list containing only the strings with more than 4 characters.

In [99]:
fruits = ["apple", "banana", "kiwi", "cherry", "date"]
[fruit for fruit in fruits if len(fruit) > 4]

['apple', 'banana', 'cherry']

##### 11. Given a string: `"hello world"`, use set comprehension to create a set of unique characters in the string (excluding spaces).

In [100]:
{char for char in "hello world" if char != ' '}

{'d', 'e', 'h', 'l', 'o', 'r', 'w'}

##### 12. Create a set of multiples of 3 or 5 between 1 and 50 (inclusive) using set comprehension.

In [101]:
{x for x in range(1, 51) if x % 3 == 0 or x % 5 == 0}

{3,
 5,
 6,
 9,
 10,
 12,
 15,
 18,
 20,
 21,
 24,
 25,
 27,
 30,
 33,
 35,
 36,
 39,
 40,
 42,
 45,
 48,
 50}

##### 13. Create a dictionary where the keys are numbers from 1 to 10 (inclusive) and the values are the squares of these numbers using dictionary comprehension.

In [102]:
{x: x ** 2 for x in range(1, 11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

##### 14. Given a list of words: `["apple", "banana", "apple", "orange", "banana", "apple"]`, use dictionary comprehension to create a dictionary where the keys are the words and the values are the counts of each word in the list.

In [103]:
words = ["apple", "banana", "apple", "orange", "banana", "apple"]
{word: words.count(word) for word in set(words)}

{'apple': 3, 'orange': 1, 'banana': 2}

##### 15. Write a generator function `countup(start, end)` that yields numbers from `start` to `end` (inclusive).

In [104]:
def countup(start, end):
    for num in range(start, end + 1):
        yield num

for number in countup(2, 10):
    print(number)

2
3
4
5
6
7
8
9
10

##### 16. Write a generator function `even_numbers(n)` that yields the first `n` even numbers.

In [105]:
def even_numbers(n):
    num = 2
    for _ in range(n):
        yield num
        num += 2

for number in even_numbers(10):
    print(number)

2
4
6
8
10
12
14
16
18
20

##### 17. Create a generator expression that yields the squares of numbers from 1 to 10.

In [106]:
for number in (x ** 2 for x in range(1, 11)):
    print(number)

1
4
9
16
25
36
49
64
81
100

##### 18. Write a decorator named `repeat` that takes an integer `n` as an argument.The decorator should repeat the execution of the decorated function `n` times. Use the `repeat` decorator to modify a function called `print_message` that prints a custom message. Decorate the `print_message` function with your `repeat` decorator, passing `5` as the argument.Verify that the function is called 5 times and that the message is printed each time.

In [107]:
def repeat(n):
    def decorator(func):
        def wrapper(*args, **kwargs):
            for _ in range(n):
                result = func(*args, **kwargs)
            return result
        return wrapper
    return decorator

@repeat(5)
def print_message(message="Hello!"):
    print(message)

print_message()

Hello!
Hello!
Hello!
Hello!
Hello!